# Python Virtual Environments
# 프로젝트의 가상환경 폴더를 제외합니다.
.venv/

# YOLOv8 Generated Directories
# 데이터셋과 학습 결과물은 용량이 크고 재생성 가능하므로 제외합니다.
yolov8/images
yolov8/labels
yolov8/data.yaml
yolov8/train.txt
yolov8/val.txt

# LLaVA Generated Directories
# 모델 분석 결과물을 제외합니다.
# results/

runner/target

## Runner 프로그램이 만드는 캐시 파일들을 제외합니다.
.runner_work/

# Python Cache Files
# 파이썬 실행 시 자동으로 생성되는 캐시 파일들을 제외합니다.
__pycache__/
*.pyc
*.pyo
*.pyd

# OS & IDE Specific Files
# 운영체제나 코드 에디터가 자동으로 생성하는 설정 파일들을 제외합니다.
.DS_Store
.idea/
.vscode/
*.swp
*.suo